body{
    background: url("../img/calculadora.jpg") no-repeat;
    background-size:60%;
    background-position:-15% -100%;
}
.main-frame-cal{
    width: 50%;
    padding: 50px;
    height: 450px;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.884);
    border: 2px solid #6610f2;
    margin: 8% auto;
}
.main-frame-cal label{
    font-weight: bold;
}
button{
    float: right;
    background-color: #6610f2;
    color: white;
}
.home{
    position: absolute;
    top: 25px;
    left: 25px;
    width: 50px;
}
label{
    color:black;
    font-size: 20px;
}
.titulo{
    color:#6610f2;
    font-weight: 700;
}


