@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

* {
    border: 0;
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    height: 500px;
    height: 90%;
}

header .illus {
    position: absolute;
    top: 0;
    right: 0;
}
.illus{
    margin-top: 10%;
    height: 80%;
}

.header-contain {
    width: 80%;
    height: 500px;
    margin: 0px 10% 0px 10%;
}

/*Diseño de titulo*/
.header-contain .title {
    width: 40%;
    height: 100%;
    margin-top: 300px;
}

h2 {
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    letter-spacing: 4px;
    font-size: 20px;
    color: #6610f2;
}

.header-contain .title h1 {
    text-transform: capitalize;
    font-family: 'Poppins', sans-serif;
    font-size: 55px;
    font-weight: 800;
    color:black;
}

.header-contain .title p {
    font-size: 16px;
    color: rgb(157, 157, 157);
    font-style: italic;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 50px;
}

.header-contain .title a {
    padding: 17px 20px;
    background-color:#6610f2;
    border-radius: 50px;
    color: white;
    box-shadow: 0px 0px 15px -3px rgba(0, 0, 0, 0.1);
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    transition: all 1s;
}

.header-contain .title a:hover {
    background-color: #ae00ff;;
    transition: all 1s;
}

/*Sección de descripción*/

#section-description,
#section-respuestas {
    width: 80%;
    height: 500px;
    margin: 200px 10%;
    display: flex;
}

#section-description p {
    font-size: 18px;
    color: rgb(180, 180, 180);
    font-family: 'Roboto', sans-serif;
    padding: 20px;
}

#section-description .illustration,
#section-description .descript,
.respuestas {
    width: 50%;
    height: 100%;
}

#section-description {
    width: 85%;
}

#section-description .descript {
    padding-top: 180px;
}

#section-respuestas .respuestas .ind {
    width: 80%;
    margin: 20px 0px;
    height: 60px;
    background-color: rgb(231, 231, 231);
    border-radius: 50px;
    transition: all 1s;
}

#section-respuestas .respuestas .ind a {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    line-height: 60px;
    font-weight: 400;
    text-decoration: none;
    color: rgb(49, 70, 133);
    padding-left: 25px;
}

#section-respuestas .respuestas .ind:hover {
    box-shadow: 0px 0px 10px  #6610f2;
    transition: all 1s;
}
#section-respuestas h2 {
    padding-bottom: 30px;
}
.size{
    width: 90%;
}